@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

*{
    margin: 0;
    font-family: 'Philosopher', sans-serif;
}

.logo{
    width: 15%;
    height: 80%;
    margin: auto;
}

.header{
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}




.title{
    display: flex;
    font-size: 1.5em;
    justify-content: space-evenly;
}

h1{
    margin-right: 10%;
    color: #d70818;
}

.research{
    display: flex;
    height: 2em;
    width: 17em;
}

.search{
    background-color: white;
    font-size: 1em;
    border-radius: 0.3em;
}

.i{
    margin-right: 1%;
    height: 1.1em;
    text-align: center;
    border-color: #d70818;
    margin-top: 0.7%;
    margin: auto;
}

.b{
    width: 3em;
    height: 1.5em;
    margin: auto;
    border-color: #d70818;
}

.b:hover{
  cursor: pointer;
}

.search::placeholder{
    color: #847b7b;
}

.connect{
    display: flex;
    color: #d70818;
    width: 17em;
    height: 2em;
}

.addco{
    margin: auto;
    color: #d70818;
}


/* NAVBAR */


nav{
    display: flex;
    justify-content: space-between;
    background-color: #d70818;
    font-size: 2em;
    padding: 1%;
    align-items: center;
    padding: 0.5em 1em;
}

.basket{
    display: flex;
    font-size: 1em;
    background-color: white;
    border-radius: 0.3em;
    width: 2em;
    height: 1.5em;
    align-items: center;
    justify-content: center;
}

.basket:hover{
    cursor: pointer;
}

nav a{
    color: white;
    text-decoration: none;
}










/* Page d'accueil */

/* Carousel test */

.carousel {
    padding: 20px;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel > * {
    flex: 0 0 auto;
  }
  .carousel figure {
    margin: 0;
    width: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% -482.8427124746px;
  }
  .carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    opacity: 0.9;
  }
  .carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 50% -482.8427124746px;
  }
  .carousel figure img:nth-child(2) {
    transform: rotateY(0.7853981634rad);
  }
  .carousel figure img:nth-child(3) {
    transform: rotateY(1.5707963268rad);
  }
  .carousel figure img:nth-child(4) {
    transform: rotateY(2.3561944902rad);
  }
  .carousel figure img:nth-child(5) {
    transform: rotateY(3.1415926536rad);
  }
  .carousel figure img:nth-child(6) {
    transform: rotateY(3.926990817rad);
  }
  .carousel figure img:nth-child(7) {
    transform: rotateY(4.7123889804rad);
  }
  .carousel figure img:nth-child(8) {
    transform: rotateY(5.4977871438rad);
  }
  .carousel nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
  }
  .carousel nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 5px 10px;
  }
  
  
  
  





















/* Catégories */

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article{
    display: flex;
    border-radius: 0.5em;
    border: 0.3em solid #847b7b;
    width: 25%;
    margin: 1%;
    color: black;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.img{
    display: flex;
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column;
}

h2{
    color: #d70818;
    text-align: center;
    margin: 10px;
}

ul{
    text-align: center;
    list-style: none;
}

li{
    padding: 5px;
}

.resume{
    height: 5em;
    overflow: auto;
}

.sales{
    display: flex;
}



.sign{
  display: flex;
  justify-content: center;
  padding: 1em;
}

.form{
  display: flex;
  border: 2px solid black;
  padding: 2em;
  flex-direction: column;
  border-radius: 0.3em;
  background-color: #d70818;
  width: 25%;
}

h3{
  text-align: center;
  font-size: 2em;
  color: white;
  font-weight: 500;
}

.subscribe{
  font-size: 1.2em;
  text-align: center;
  border-radius: 0.3em;
  margin: 1em;
  padding: 6px;
  width: 80%;
}

.check_condition{
  color: white;
  text-align: center;
  margin: 1em;
}

#condition:hover{
  cursor: pointer;
}

.check_condition a{
  color: white;
}

.sign_but{
  width: 35%;
  margin: auto;
  font-size: 1.5em;
  border-radius: 0.3em;
  background-color: #d70818;
  color: white;
}

.sign_but:hover{
  cursor: pointer;
}

.forgot-pwd{
  margin: 1em;
  color: white;
}

.baskets{
  display: flex;
  background-color: #d70818;
  justify-content: center;
}

.articles{
  display: flex column;
  background-color: white;
  width: 80%;
}

.item{
  display: flex;
  margin: 1%;
}

.img_item{
  width: 10em;
  height: 13em;
}

.art_text{
  display: flex;
}




















footer{
    display: flex;
    background-color: #d70818;
    padding: 10px;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
    position: static;
    bottom: 0;
}

footer a{
    text-align: center;
    color: white;
    text-decoration: none;
}
